@font-face{
	font-family: 'Exo2';
	src: url('font/Exo2-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Exo2';
	src: url('font/Exo2-Light.ttf') format('truetype');
	font-weight: think;
	font-style: normal;
}